<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            background-color: rgba(0, 0, 0, 0.74);
            color: white;
        }

        .box {
            margin-top: 40px;
            width: 45vw;
            margin-left: 10vw;
            height: 75vh;
            border-radius: 16px;
            background: linear-gradient(180deg, #0b0b0b2d, #1212123d);
            box-shadow: 0 15px 40px rgb(0, 0, 0);
            flex-direction: column;
            display: flex;

        }

        .status {
            text-align: center;
        }

        .block {
            margin-top: 50px;
            width: 45vw;
            display: flex;
            justify-content: space-around;
           



        }

        img {
            display: block;
        }

        .india {

            display: flex;
            width: 20 vw;
            gap: 30px;
            flex-wrap: wrap;
        }

        .other {

            display: flex;
            width: 20 vw;
            gap: 30px;
            flex-wrap: wrap;
        }

        h3 {
            font-family: sans-serif;
            margin: 20px;
            font-size: larger;
            font-weight: 400;
            
        }

        span {
            font-family: sans-serif;
            margin: 20px;
            font-size: small;
        }
        p{
            font-size: larger;
            font-family: sans-serif;
        }
    </style>
</head>

<body>
    <div class="box">
        <h3>
            <%= name %> 
        </h3>
        <span>
            <%= date %> (  <%= venue %>  ) 
        </span>

        <div class="block">


            <div class="india">

                <div class="india-flag"> <img src="<%= biharflag.img %> " alt="other flag"></div>
                <div class="ind-score">
                    <p>
                        <%= biharRun.r %>\<%= biharRun.w %> <br> (<%= biharRun.o %>)
                    </p>
                </div>
            </div>
            <div class="other">
                <div class="other-score">
                    <p>
                        <%= otherRun.r %>\<%= otherRun.w %><br> (<%= otherRun.o %>)
                    </p>
                </div>


                <div class="other-flag"> <img src="<%= otherflag.img %> " alt="other flag"></div>

            </div>





        </div>

        <div class="status">
            <p>
                <%= data.status %>
            </p>
        </div>
    </div>
</body>

</html>